extends ../_layout

block page-title
    title !{result.title}

block content    
    .col-md-5.col-md-offset-3        
        .panel.panel-default
            .panel-heading Потребителски профил
            .panel-body
