extends ../_layout

block page-title
    title !{result.title}

block content
    .col-md-5.col-md-offset-3
        .panel.panel-default
            .panel-heading Регистрация
            .panel-body
                form(action="/register" method="post")
                    .form-group.input-group.input-group-sm                        
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-user")
                        input(type="text" class="form-control" name="username" placeholder="Потребителско име" aria-describedby="sizing-addon3")
                    .form-group.input-group.input-group-sm
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-lock")
                        input(type="password" class="form-control" name="password" placeholder="Парола" aria-describedby="sizing-addon3")
                    .form-group.input-group.input-group-sm
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-lock")
                        input(type="password" class="form-control" name="passConfirmation" placeholder="Повтори парола" aria-describedby="sizing-addon3")
                    .form-group.input-group.input-group-sm                        
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-user")
                        input(type="text" class="form-control" name="firstName" placeholder="Име" aria-describedby="sizing-addon3")
                    .form-group.input-group.input-group-sm                        
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-user")
                        input(type="text" class="form-control" name="lastName" placeholder="Фамилия" aria-describedby="sizing-addon3")
                    
                    .form-group.input-group.input-group-sm
                        span Аз съм: 
                        label(class="radio-inline" for="doctor") 
                            input(id="doctor" type="radio" name="optradio" value="doctorType") 
                            span Лекар
                        label(class="radio-inline" for="patient") 
                            input(id="patient" type="radio" name="optradio" value="patientType")
                            span Пациент 

                    #reg-wrapper

                    .form-group
                        button(id="btnRegister" type="submit" class="btn btn-info btn-block") Регистрирай

    script(src="./static/scripts/register-form.js")
