extends ../_layout

block page-title
    title !{result.title}

block content    
    .col-md-7.col-md-offset-2        
        .panel.panel-danger
            .panel-heading ГРЕШКА
            .panel-body
                h4 Трябва да се логнете в системата, за да достъпите този ресурс!
