extends ../_layout

block page-title
    title !{result.title}

block content
    .panel.panel-default
        .panel-heading Добавяне на пациент
        .panel-body
            form(method="post")
                .form-group.input-group.input-group
                    span(class="input-group-addon" id="sizing-addon3")
                        span(class="glyphicon glyphicon-user")
                    input(type="text" id="pin" class="form-control" name="pin" placeholder="ЕГН" aria-describedby="sizing-addon3")
                .form-group
                    include ../error-messages
                .form-group
                    button(id="btnAddPatient" class="btn btn-info btn-block") Добави
