extends ../_layout

block page-title
    title !{result.title}

block content
    .panel.panel-default
        .panel-heading Моите пациенти
        .panel-body
            ul
                each val in result.patients
                    li !{val._pin} !{val._firstName} !{val._lastName}
