extends ../_layout

block page-title
    title !{result.title}

block content
    .col-md-5.col-md-offset-3
        .panel.panel-default
            .panel-heading Моите пациенти
            .panel-body
                table(class="table table-striped")
                    thead
                        tr
                            th ЕГН
                            th Име
                            th Фамилия
                    tbody
                        each val in result.patients
                            tr
                                td !{val._pin}
                                td !{val._firstName}
                                td !{val._lastName}
