extends ../_layout

block page-title
    title !{result.title}

block content
    .col-md-10.col-md-offset-1
        .panel.panel-default
            .panel-heading Седмичен график
            .panel-body
                table(class="table table-striped")
                    - const dayNames = ['Понеделник','Вторник','Сряда','Четвъртък','Петък'];
                    thead
                        tr
                            th Час
                            - for(let i = 0; i < 5; i += 1) {
                                th !{dayNames[i]} !{result.weekDays[i]}
                            - }
                    tbody
                        each val in result._defaultSchema
                            tr
                                td !{val}:00
                                td
                                td
                                td
                                td
                                td
