doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block app-title
        link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    body
        block content